body {
    width: 100%;
}

.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth, .tenth, .eleventh, .twelfth, .thirteenth, .fourteenth, .fifteenth {
    position: relative;
    overflow: hidden;
}

.third p, .sixth p {
    position: absolute;
    top: 28.68vw;
    left: 29vw;
}

.fourth p, .fifth p, .seven, .eight {
    position: absolute;
    top: 28.68vw;
    left: 30.07vw;
}

.ninth p {
    margin: 28.6vw 0vw 0vw 28.82vw;
}

.tenth p, .twelfth p, .thirteenth p, .fourteenth p, .fifteenth p{
    position: absolute;
    top: 28.6vw;
    left: 27.7vw;
}

p {
    font-family: 'Gergel';
    color: #FEDA00;
    font-size: 4.44vw;
}

.board {
    background: #FEDA00;
    display: grid;
    grid-template-columns: repeat(3, 33.286vw);
    grid-template-rows: repeat(5, 33.286vw);
    gap: 1px;
}

.reality {
    height: 14.38vw;
    overflow: hidden;
}

.reality_scroll {
    display: flex;
    animation: scroll_reality 5s infinite linear;
}

.reality p{
    margin-top: 2.80vw;
    font-size: 8.89vw;
    color: black;
    text-wrap: nowrap;
}

.board div{
    background: black;
}

.gradient_arrows {
    transform: translateX(-393.75vw) ;
    display: flex;
    flex-direction: row;
    padding-top: 5.56vw;
    animation: scroll_arrow 5s linear infinite;

}

.gradient_arrows img {
    padding-right: 3.13vw;
}

.first img {
    width: 26.94vw;
}

.first p {
    margin-top: 0.31vw;
    margin-left: 30.07vw;
}

.reality_p {
    font-size: 2.5vw;
    animation: text_motion 5s linear infinite;
}

.second p:nth-child(2) {
    position: absolute;
    top: 28.82vw;
    left: 30.07vw;
}

.third img {
    width: 25vw;
    margin: 1.4vw 0vw 0vw 3.61vw;
    animation: spin 2s linear infinite;
}

.random_purple img, .random_pink img, .eighth img, .tunnels img:nth-child(1) {
    width: 33.286vw;
}

.star {
    animation: flickering 2s ease-in-out alternate infinite;
}

.random_purple, .random_pink {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: random 3s steps(11) infinite, linear;
 }

 .go_sleep p:nth-child(1), .go_sleep p:nth-child(3), .go_sleep p:nth-child(5), .go_sleep p:nth-child(7), .go_sleep p:nth-child(9) {
    animation: go_sleep 3s linear infinite;
 }

 .go_sleep p:nth-child(2), .go_sleep p:nth-child(4), .go_sleep p:nth-child(6), .go_sleep p:nth-child(8), .go_sleep p:nth-child(10){
    animation: go_sleep 3s linear infinite reverse;
 }

 .skip_pink {
    position: absolute;
    top: 0.56vw;
    left: 0.56vw;
    animation: spin_skip 3s ease-in-out infinite;
 }

.eleven {
    position: absolute;
    top: 28.68vw;
    left: 28.22vw;
}

.circles img {
    position: absolute;
}

.circles img:nth-child(1) {
    width: 5.42vw;
    filter: blur(4px);
    animation: circles1 6s linear infinite;
}

.circles img:nth-child(2) {
    width: 10.83vw;
    filter: blur(2px);
    animation: circles2 6s linear infinite;
}

.circles img:nth-child(3) {
    width: 14.1vw;
    filter: blur(3px);
    animation: circles3 6s linear infinite;
}

.circles img:nth-child(4) {
    width: 6.67vw;
    animation: circles4 6s linear infinite;
}

.circles img:nth-child(5) {
    width: 7.78vw;
    filter: blur(6px);
    animation: circles5 6s linear infinite;
}

.circles img:nth-child(6) {
    width: 5.42vw;
    filter: blur(1px);
    animation: circles6 6s linear infinite;
}

.circles img:nth-child(7) {
    width: 13.61vw;
    filter: blur(2px);
    animation: circles7 6s linear infinite;
}

.star, .skip_blue, .skip_pink {
    width: 32.08vw;
    margin: 0.56vw 0px 0px 0.56vw;
}

.go_sleep p{
    font-size: 3.33vw;
    color: white;
    text-wrap: nowrap;
}

.back_to_reality1, .back_to_reality2 {
    position: absolute;
    top: 15.6vw;
    left: 0.5vw;
    width: 33.06vw;
    height: 2.5vw;
    overflow: hidden;
}

.back_to_reality1 p, .back_to_reality2 p {
    background-color: #FEDA00;
    text-wrap: nowrap;
    font-size: 2.5vw;
    color: black;
}

.back_to_reality1 {
    rotate: 45deg;
}

.back_to_reality2 {
    rotate: -45deg;
}

.errors p {
    font-size: 4.44vw;
    position: absolute;
}

.errors p:nth-child(1) {
    top: 0.49vw;
    left: 18.61vw;
    animation: flickering_error 0.4s ease-in-out 0.2s infinite alternate;
}

.errors p:nth-child(2) {
    top: 1.6vw;
    left: 1.11vw;
    animation: flickering_error 0.4s ease-in-out 0.4s infinite alternate;
}

.errors p:nth-child(3) {
    top: 3.26vw;
    left: 5.63vw;
    animation: flickering_error 0.4s ease-in-out 0.6s infinite alternate;
}

.errors p:nth-child(4) {
    font-size: 6.67vw;
    top: 5.49vw;
    left: 13.82vw;
    animation: flickering_error 0.4s ease-in-out 0.8s infinite alternate;
}

.errors p:nth-child(5) {
    top: 7.71vw;
    left: 1.32vw;
    animation: flickering_error 0.4s ease-in-out 1s infinite alternate;
}

.errors p:nth-child(6) {
    top: 11.04vw;
    left: 8.19vw;
    animation: flickering_error 0.4s ease-in-out infinite alternate;
}

.errors p:nth-child(7) {
    font-size: 6.67vw;
    top: 13.26vw;
    left: 1.18vw;
    animation: flickering_error 0.4s ease-in-out 0.2s infinite alternate;
}

.errors p:nth-child(8) {
    top: 15.49vw;
    left: 14.58vw;
    animation: flickering_error 0.4s ease-in-out 0.4s infinite alternate;
}

.errors p:nth-child(9) {
    top: 18.26vw;
    left: 0vw;
    animation: flickering_error 0.4s ease-in-out 0.6s infinite alternate;
}

.errors p:nth-child(10) {
    font-size: 6.67vw;
    top: 19.93vw;
    left: 7.08vw;
    animation: flickering_error 0.4s ease-in-out 0.8s infinite alternate;
}

.errors p:nth-child(11) {
    top: 24.38vw;
    left: -3.06vw;
    animation: flickering_error 0.4s ease-in-out 1s infinite alternate;
}

.errors p:nth-child(12) {
    top: 24.93vw;
    left: 14.58vw;
    animation: flickering_error 0.4s ease-in-out infinite alternate;
}

.errors p:nth-child(13) {
    top: 27.6vw;
    left: 1.6vw;
    animation: flickering_error 0.4s ease-in-out 0.2s infinite alternate;
}

.tunnels img:nth-child(2) {
    position: absolute;
    width: 27.92vw;
    left: 2.78vw;
    top: 2.78vw;
    animation: tunnel 0.2s infinite alternate-reverse;
}

.tunnels img:nth-child(1) {
    animation: tunnel 0.2s infinite alternate;
}

.fifteenth svg {
    fill: white;
    height: 13.19vw;
    width: 31.25vw;
    margin: 10.14vw 1vw;
    animation: spi 2s ease-in-out infinite alternate;
}

.dream {
    background: black;
    position: relative;
    overflow: hidden;
}

.dream_scroll {
    height: 14.38vw;
    display: flex;
    animation: scroll_dream 5s infinite linear reverse;
}

.dream p{
    margin-top: 2.80vw;
    font-size: 8.89vw;
    color: rgb(255, 255, 255);
    text-wrap: nowrap;
}

.dash_arrow {
    position: absolute;
    top: 71.25vw;
    left: 49.24vw;
    width: 46.53vw;
    height: 58.33vw;
}

.dash_arrow img {
    position: absolute;
}

.dash_arrow img:nth-child(1) {
    width: 18.96vw;
    left: 10.69vw;
}

.dash_arrow img:nth-child(2) {
    width: 6.81vw;
    top: 16.25vw;
    left: 31.25vw;
}

.dash_arrow img:nth-child(3) {
    width: 11.94vw;
    top: 28.54vw;
    left: 26.81vw;
}

.dash_arrow img:nth-child(4) {
    width: 11.18vw;
    top: 19.86vw;
    left: 26.2vw;
}

.dash_arrow img:nth-child(5) {
    width: 8.4vw;
    top: 20.21vw;
    left: 38vw;
}

.dash_arrow img:nth-child(6) {
    width: 22.5vw;
    top: 38vw;
    left: 16.9vw;
}

.dash_arrow img:nth-child(7) {
    width: 12.36vw;
    top: 48.68vw;
}

.star_arrow img {
    width: 43.54vw;
}

.star_arrow {
    overflow: hidden;
    height: 1vw;
    position: absolute;
    top: 31vw;
    left: 48vw;
    animation: star_arrow 2s cubic-bezier(0, 0, 0.93, 0.83) infinite 0.2s alternate-reverse;
}
